.ui-window[data-segue="active"], .ui-window[data-segue="left"]
, .ui-window[data-segue="right"] {
	-webkit-transition: -webkit-transform linear 0s;

	/*-webkit-transform-style: preserve-3d;*/
}

.ui-window[data-segue="active"] {
	z-index: 20;
}

.ui-window[data-segue="left"] {
	-webkit-transform: translate3d(-100%, 0, 0);

	z-index: 10;
}

.ui-window[data-segue="right"] {
	-webkit-transform: translate3d(100%, 0, 0);

	z-index: 10;
}

.ui-window.segue {
	z-index: 41;
	-webkit-transition: -webkit-transform ease-in-out .3s;

}

.ui-window.push {
	top: 0;
	left: 0;	
	-webkit-transition: -webkit-transform ease-in-out .3s;
	-webkit-transform: translate3d(0, 0, 0);
	z-index: 40;
}

.ui-window.modal {
	top: 0;
	left: 0;	
	-webkit-transition: -webkit-transform ease-in-out .3s;
	-webkit-transform: translate3d(0, 100%, 0);
	z-index: 40;
}