.ui-window.segue {
	z-index: 41;
	-webkit-transition: -webkit-transform ease-in-out .3s;

}

.ui-window.push {
	top: 0;
	left: 0;	
	-webkit-transition: -webkit-transform ease-in-out .3s;
	-webkit-transform: translate3d(0, 0, 0);
	z-index: 40;
}

.ui-window.modal {
	top: 0;
	left: 0;	
	-webkit-transition: -webkit-transform ease-in-out .3s;
	-webkit-transform: translate3d(0, 100%, 0);
	z-index: 40;
}